### Imports

In [108]:
import pandas as pd

# Content

### Get Data

In [109]:
raw_content_data = pd.read_csv('Content.csv')

In [110]:
raw_content_data.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

### Remove columns

In [111]:
content = raw_content_data.copy()

In [112]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [113]:
content = content.drop(['Unnamed: 0', 'User ID', 'URL'], axis = 1)
content.head()

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

### Clean the categories

In [114]:
content['Category'].value_counts()

Category
technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: count, dtype: int64

In [115]:
content['Category'][(content['Category'] == 'technology') | (content['Category'] == '"technology"')] = 'Technology'

In [116]:
content['Category'][(content['Category'] == 'animals') | (content['Category'] == '"animals"')] = 'Animals'

In [117]:
content['Category'][(content['Category'] == 'travel') | (content['Category'] == '"travel"')] = 'Travel'

In [118]:
content['Category'][(content['Category'] == 'culture') | (content['Category'] == '"culture"')] = 'Culture'

In [119]:
content['Category'][(content['Category'] == 'science') | (content['Category'] == '"science"')] = 'Science'

In [120]:
content['Category'][(content['Category'] == 'fitness') | (content['Category'] == '"fitness"')] = 'Fitness'

In [121]:
content['Category'][(content['Category'] == 'healthy eating') | (content['Category'] == '"healthy eating"')] = 'Healthy Eating'

In [122]:
content['Category'][(content['Category'] == 'food') | (content['Category'] == '"food"')] = 'Food'

In [123]:
content['Category'][(content['Category'] == 'cooking') | (content['Category'] == '"cooking"')] = 'Cooking'

In [124]:
content['Category'][(content['Category'] == 'soccer') | (content['Category'] == '"soccer"')] = 'Soccer'

In [125]:
content['Category'][(content['Category'] == 'tennis') | (content['Category'] == '"tennis"')] = 'Tennis'

In [126]:
content['Category'][(content['Category'] == 'education') | (content['Category'] == '"education"')] = 'Education'

In [127]:
content['Category'][(content['Category'] == 'dogs') | (content['Category'] == '"dogs"')] = 'Dogs'

In [128]:
content['Category'][(content['Category'] == 'studying') | (content['Category'] == '"studying"')] = 'Studying'

In [129]:
content['Category'][(content['Category'] == 'veganism') | (content['Category'] == '"veganism"')] = 'Veganism'

In [130]:
content['Category'][(content['Category'] == 'public speaking') | (content['Category'] == '"public speaking"')] = 'Public Speaking'

In [131]:
content['Category'].value_counts()

Category
Technology         73
Animals            72
Travel             69
Science            68
Culture            67
Fitness            66
Food               64
Soccer             64
Healthy Eating     62
Cooking            61
Tennis             59
Education          59
Studying           58
Dogs               58
Public Speaking    50
Veganism           50
Name: count, dtype: int64

In [132]:
content.head(10)

                             Content ID   Type         Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   Healthy Eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   Healthy Eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo       Technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video             Food
5  cf1e8c1a-23eb-4426-9f58-002fb1b53e91    GIF          Cooking
6  3f8590c7-6ab2-4973-805a-90cdec355f05  video             Dogs
7  e5490118-90d5-4572-ab1c-1fbc87b8d9ca  video       Technology
8  0bedca96-fb76-4287-a83c-17330ed39cce  photo           Soccer
9  b18cb63f-4c8e-44ee-a47f-541e95191d11  photo  Public Speaking

In [133]:
content.to_csv('Content_preprocessed.csv')

# Reactions

In [134]:
raw_reaction_data = pd.read_csv('Reactions.csv')

In [135]:
raw_reaction_data.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

### Remove columns

In [136]:
reaction = raw_reaction_data.copy()

In [137]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [138]:
reaction = reaction.drop(['Unnamed: 0', 'User ID'], axis = 1)

In [139]:
reaction.head()

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2021-01-06 19:13:01

### Drop rows with missing data

In [140]:
reaction = reaction.dropna()

In [141]:
reaction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    24573 non-null  object
dtypes: object(3)
memory usage: 767.9+ KB

In [142]:
reaction.to_csv('Reaction_preprocessed.csv')