## Import

In [113]:
import pandas as pd

## Load files

In [114]:
content_df = pd.read_csv('Content_preprocessed.csv')
reactions_df = pd.read_csv('Reaction_preprocessed.csv')
reactionType_df = pd.read_csv('ReactionTypes.csv')

In [115]:
content_df.head()

   Unnamed: 0                            Content ID   Type        Category
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  Healthy Eating
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  Healthy Eating
3           3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      Technology
4           4  01ab84dd-6364-4236-abbb-3f237db77180  video            Food

In [116]:
reactions_df.head()

,Unnamed: 0,Content ID,Reaction Type,Datetime
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/2020 09:43
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/2021 12:22
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/2021 05:13
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/2021 19:13
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/2020 12:25

In [117]:
reactionType_df.head()

   Unnamed: 0 Reaction Type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

### Merge Content onto Reactions

In [118]:
for i in range(len(reactions_df)):
    reactions_df.loc[i, 'Content Type'] = content_df['Type'][content_df['Content ID'] == reactions_df.loc[i, 'Content ID']].values[0]
    reactions_df.loc[i, ['Category']] = content_df['Category'][content_df['Content ID'] == reactions_df.loc[i, 'Content ID']].values[0]
    #print(content_df['Type'][content_df['Content ID'] == reactions_df.loc[i, 'Content ID']].values[0])

In [119]:
reactions_df.head(10)

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/2020 09:43,photo,Studying
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/2021 12:22,photo,Studying
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/2021 05:13,photo,Studying
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/2021 19:13,photo,Studying
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/2020 12:25,photo,Studying
5,6,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,07/12/2020 06:27,photo,Studying
6,7,97522e57-d9ab-4bd6-97bf-c24d952602d2,cherish,11/04/2021 17:35,photo,Studying
7,8,97522e57-d9ab-4bd6-97bf-c24d952602d2,hate,27/01/2021 08:32,photo,Studying
8,9,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,01/04/2021 22:54,photo,Studying
9,10,97522e57-d9ab-4bd6-97bf-c24d952602d2,love,04/08/2020 05:05,photo,Studying

### Merge Reaction Types onto Reactions

In [120]:
for i in range(len(reactions_df)):
    reactions_df.loc[i, ['Sentiment']] = reactionType_df['Sentiment'][reactionType_df['Reaction Type'].values == reactions_df.loc[i, ['Reaction Type']].values].values[0]
    reactions_df.loc[i, ['Score']] = reactionType_df['Score'][reactionType_df['Reaction Type'].values == reactions_df.loc[i, ['Reaction Type']].values].values[0]

In [121]:
reactions_df.head(10)

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07/11/2020 09:43,photo,Studying,negative,0.0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17/06/2021 12:22,photo,Studying,negative,10.0
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18/04/2021 05:13,photo,Studying,negative,15.0
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06/01/2021 19:13,photo,Studying,negative,0.0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23/08/2020 12:25,photo,Studying,positive,30.0
5,6,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,07/12/2020 06:27,photo,Studying,neutral,35.0
6,7,97522e57-d9ab-4bd6-97bf-c24d952602d2,cherish,11/04/2021 17:35,photo,Studying,positive,70.0
7,8,97522e57-d9ab-4bd6-97bf-c24d952602d2,hate,27/01/2021 08:32,photo,Studying,negative,5.0
8,9,97522e57-d9ab-4bd6-97bf-c24d952602d2,peeking,01/04/2021 22:54,photo,Studying,neutral,35.0
9,10,97522e57-d9ab-4bd6-97bf-c24d952602d2,love,04/08/2020 05:05,photo,Studying,positive,65.0

In [ ]:
reactions_df.to_csv('Final_dataset.csv')